* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color: #e5e5de;
}

.title-card{
    height: 770px;
    width: 100%;
    background-color: #e5e5de;
    z-index: 2;
    position: fixed;
}

h1{
    font-family: "Newsreader", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 110px;
    text-align: center;
    position:relative;
    top: 10%;
    color: #1E1E1E;

}

h2{
    font-family: "Rock 3D", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 130px;
    text-align: center;
    position:relative;
    top: 3%;
    color: #1E1E1E;
}

.columns-box{
    height: 300px;
    width: 900px;
    position: relative;
    top: 30%;
    left: 32%;
}

.columns {
    display: flex;
    width: 900px;
    column-gap: 40px;
    justify-content: flex-end;
    font-size: 20px;
  }

#countdown{
    font-size: 40px;
    font-family: "Newsreader", serif;
    font-weight: 400;
    font-style: normal;
    color: #e5e5de;
    position:relative;
    transform: translate(-50% -50%);
    left: -44%;
}

.border{
    background-color: #1E1E1E;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 39px 37px 36px 37px;
    border-radius: 40px;
    position: relative;
    top: -1%;
    margin: auto; 
    display: flex;  
    justify-content: center; 
    align-items: center;
}

  p{
    font-family: "Newsreader", serif;
    font-weight: 200;
    font-style: normal;
    color: #1E1E1E;
  }

.under{
    height: 150%;
    width: 100%;
    background-color: #e5e5de;
    position:absolute;
}

.container{
    height: 40px;
    width: 90%;
    border-radius: 50px;
    background-color: #c0c0b7;;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 8%;
}

.slide-in{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: #e5e5de;
    transform: translate(-50%, -50%);
    position: relative;
    top: 48.5%;
    left: 75%;
    animation: slide 5s ease 10 forwards;
    z-index: 1
}

.stationary{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border-color: #e5e5de;
    border-style: dashed;
    background-color: #c0c0b7;
    transform: translate(-50%, -50%);
    position: relative;
    top: -10px;
    left: 98.3%;
}

@keyframes slide {
    0%{
        transform: translateY(-15px) translateX(-3250%);
    }
    100%{
        transform: translateY(-15px) translateX(975%);
    }
}

#dragtarget1{
    font-size: 120px;
    position:relative;
    top: 14%;
    left: 4.2%;
    height: 125px;
    width: 355px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.droptarget1 {
    height: 11.5%;
    width: 24.5%;
    position:relative;
    top: 0.2%;
    left: 70%;
    background: url(../images/Jan28.png);
    background-size: cover;
}

#dragtarget2{
    font-size: 120px;
    position:relative;
    top: 14%;
    left: 4.2%;
    height: 125px;
    width: 355px;
    cursor: move; 
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.droptarget2 {
    height: 10%;
    width: 24.5%;
    position:relative;
    top: 0.2%;
    left: 71%;
    background: url(../images/Feb05.png);
    background-size: cover;
    background-position: -20px;
    background-position-x: 10px;
}

#dragtarget3{
    font-size: 120px;
    position:relative;
    top: 14%;
    left: 4.2%;
    height: 125px;
    width: 400px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.droptarget3{
    height: 9.4%;
    width: 25.8%;
    position:relative;
    top: 0.2%;
    left: 69.5%;
    background: url(../images/Mar05.png);
    background-size: cover;
    background-position-x: 0px;
}

#dragtarget4{
    font-size: 120px;
    position:relative;
    top: 14%;
    left: 4.2%;
    height: 125px;
    width: 400px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.droptarget4{
    height: 9.2%;
    width: 26%;
    position:relative;
    top: 0.2%;
    left: 69.5%;
    background: url(../images/Mar26.png);
    background-size: cover;
    background-position-x: 0px;
}


.popup-div{
    height: 400%;
    width: 250%;
    border-radius: 20px;
    padding: 20px;
    column-count: 2;
    justify-content: flex-start;
    position: relative;
    left: -270%;
    top: -15%;
    font-size: 15px;
}


.popup-div2{
    height: 400%;
    width: 250%;
    border-radius: 20px;
    padding: 20px;
    column-count: 2;
    justify-content: flex-start;
    position: relative;
    left: -274.5%;
    top: -55%;
    font-size: 15px;

}


.popup-div3{
    height: 400%;
    width: 240%;
    border-radius: 20px;
    padding: 20px;
    column-count: 2;
    justify-content: flex-start;
    position: relative;
    left: -255%;
    top: -25%;
    font-size: 15px;

}

.popup-div4{
    height: 400%;
    width: 238.5%;
    border-radius: 20px;
    padding: 20px;
    column-count: 2;
    justify-content: flex-start;
    position: relative;
    left: -254%;
    top: -40%;
    font-size: 15px;

}

h3{
    font-family: "Rock 3D", system-ui;
    font-weight: 400;
    font-size: 23px;
    font-style: normal;
    color: #1E1E1E;
}

h4{
    font-family: "Newsreader", serif;
    font-weight: 300;
    font-style: normal;
    color: #1E1E1E;
    font-size: 16px; 
}

mark {
    background-color: rgb(249, 249, 237);
  }


.block{
    background-color: #e5e5de;
    height: 10%;
    width: 100%;
    position: relative;
    top: 10%;
}

.links{
    column-count: 4;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px; 
    position: relative;
    top: 8%;


}

a:link {
    color: #a0a09a;
  }
  

a:visited{
    color: #a0a09a;
}  

  a:hover {
    color: #1E1E1E;
  }

  a:link {
    text-decoration: none;
  }

.block2{
    background-color: #e5e5de;
    height: 50px;
    width: 100%;
}

.backbutton{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px; 
    color: #a0a09a;
    position:relative;
    top: 3%;
    left: 3%;
}

.skipbutton{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px; 
    color: #a0a09a;
    position:relative;
    top: 0.2%;
    left: 4%;
}

#down{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px; 
    color: #a0a09a;
    position:fixed;
    top: 93%;
    left: 97%;
}